In [1]:
import pandas as pd

df_tmdb = pd.read_csv('https://raw.githubusercontent.com/Phil-BENISSAN/tmdb/main/tmdb_small.csv')

In [2]:
print(df_tmdb.head())

   Unnamed: 0    budget                                      genres  \
0           5   4000000                         ['Crime', 'Comedy']
1           9  11000000  ['Adventure', 'Action', 'Science Fiction']
2          10  94000000                     ['Animation', 'Family']
3          11  55000000              ['Comedy', 'Drama', 'Romance']
4          15         0           ['Horror', 'Thriller', 'Mystery']

                                            homepage  id original_title  \
0          https://www.miramax.com/movie/four-rooms/   5     Four Rooms
1  http://www.starwars.com/films/star-wars-episod...  11      Star Wars
2              http://movies.disney.com/finding-nemo  12   Finding Nemo
3  https://www.paramountmovies.com/movies/forrest...  13   Forrest Gump
4                     http://www.whatisannwyn.co.uk/  17       The Dark

                                            overview  popularity  \
0  It's Ted the Bellhop's first night on the job....      18.734
1  Princess Leia is captured and held hostage by ...      90.988
2  Nemo, an adventurous young clownfish, is unexp...      68.898
3  A man with a low IQ has accomplished great thi...      52.321
4  In an attempt to pull her family together, Adè...       7.178

                        poster_path production_countries  ... runtime  \
0  /75aHn1NOYXh4M7L5shoeQ6NGykP.jpg               ['US']  ...      98
1  /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg               ['US']  ...     121
2  /5lc6nQc0VhWFYFbNv016xze8Jvy.jpg               ['US']  ...     100
3  /arw2vcBveWOVZr6pxd9XTd1TdQa.jpg               ['US']  ...     142
4  /wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg         ['DE', 'GB']  ...      87

   spoken_languages    status  \
0            ['en']  Released
1            ['en']  Released
2            ['en']  Released
3            ['en']  Released
4      ['en', 'cy']  Released

                                             tagline         title  video  \
0  Twelve outrageous guests. Four scandalous requ...    Four Rooms  False
1       A long time ago in a galaxy far, far away...     Star Wars  False
2  There are 3.7 trillion fish in the ocean. They...  Finding Nemo  False
3  The world will never be the same once you've s...  Forrest Gump  False
4             One of the living for one of the dead.      The Dark  False

  vote_average  vote_count                          production_companies_name  \
0        5.758        2357                        ['Miramax', 'A Band Apart']
1        8.208       18582             ['Lucasfilm Ltd.', '20th Century Fox']
2        7.823       17625                                          ['Pixar']
3        8.481       24593  ['Paramount', 'The Steve Tisch Company', 'Wend...
4        5.815         232  ['Constantin Film', 'Impact Pictures', 'Isle o...

   production_companies_country
0                  ['US', 'US']
1                  ['US', 'US']
2                        ['US']
3                ['US', '', '']
4      ['DE', 'GB', 'GB', 'GB']

[5 rows x 22 columns]

In [3]:
df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8392 entries, 0 to 8391
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    8392 non-null   int64
 1   budget                        8392 non-null   int64
 2   genres                        8392 non-null   object
 3   homepage                      8392 non-null   object
 4   id                            8392 non-null   int64
 5   original_title                8392 non-null   object
 6   overview                      8392 non-null   object
 7   popularity                    8392 non-null   float64
 8   poster_path                   8392 non-null   object
 9   production_countries          8392 non-null   object
 10  release_date                  8392 non-null   object
 11  revenue                       8392 non-null   int64
 12  runtime                       8392 non-null   int64
 13  spoken_languages              8392 non-null   object
 14  status                        8392 non-null   object
 15  tagline                       8392 non-null   object
 16  title                         8392 non-null   object
 17  video                         8392 non-null   bool
 18  vote_average                  8392 non-null   float64
 19  vote_count                    8392 non-null   int64
 20  production_companies_name     8392 non-null   object
 21  production_companies_country  8392 non-null   object
dtypes: bool(1), float64(2), int64(6), object(13)
memory usage: 1.4+ MB

In [4]:
# Extraire Nom du film, Résumé du film, Note du film, Affiche du film

df_reduit = df_tmdb[["original_title", "overview", "vote_average", "poster_path"]]

In [5]:
df_reduit.head()

,original_title,overview,vote_average,poster_path
0,Four Rooms,It's Ted the Bellhop's first night on the job....,5.758,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
1,Star Wars,Princess Leia is captured and held hostage by ...,8.208,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
2,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",7.823,/5lc6nQc0VhWFYFbNv016xze8Jvy.jpg
3,Forrest Gump,A man with a low IQ has accomplished great thi...,8.481,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg
4,The Dark,"In an attempt to pull her family together, Adè...",5.815,/wZeBHVnCvaS2bwkb8jFQ0PwZwXq.jpg

In [ ]:
# Completer le path
df_reduit = df_tmdb[["original_title", "overview", "vote_average", "poster_path"]]
def full_path(suffixe):
    prefix = "https://image.tmdb.org/t/p/w300"
    full_path = prefix + suffixe
    
    return full_path

df_reduit["full_poster"] = df_reduit["poster_path"].apply(full_path)

/tmp/ipykernel_99259/913250673.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduit["full_poster"] = df_reduit["poster_path"].apply(full_path)

In [8]:
print(df_reduit.iloc[0, -1])

https://image.tmdb.org/t/p/w300/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg

In [14]:

df_reduit = df_tmdb[["original_title", "overview", "vote_average", "poster_path"]]
def full_path(suffixe):
    prefix = "https://image.tmdb.org/t/p/w300"
    full_path = prefix + suffixe
    
    return full_path

df_reduit["full_poster"] = df_reduit["poster_path"].apply(full_path)
    
df_reduit.sort_values(by= "vote_average", ascending=False, inplace=True)
df_reduit.drop(columns="poster_path", inplace=True)
df_reduit.iloc[:5, :]

/tmp/ipykernel_99259/1836584039.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduit["full_poster"] = df_reduit["poster_path"].apply(full_path)
/tmp/ipykernel_99259/1836584039.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduit.sort_values(by= "vote_average", ascending=False, inplace=True)
/tmp/ipykernel_99259/1836584039.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduit.drop(columns="poster_path", inplace=True)

,original_title,overview,vote_average,full_poster
4568,National Theatre Live: Hansard,It's a summer's morning in 1988 and Tory polit...,10.0,https://image.tmdb.org/t/p/w300/korKk9arD2GPP2...
8390,Leera The Soulmate,Leera the Soulmate takes place in the distant ...,10.0,https://image.tmdb.org/t/p/w300/fZUot0svHgXjst...
8379,The Bhen-Jah-Man,"After the masked serial killer known as ""The B...",10.0,https://image.tmdb.org/t/p/w300/cga83IKHPZmx2Y...
8388,April,"Set to a vibrant landscape, 'April' follows th...",10.0,https://image.tmdb.org/t/p/w300/bZ5Td5X5nisD21...
8372,The Name of the Prime Minister,A psychiatrist is taken to a secret government...,10.0,https://image.tmdb.org/t/p/w300/5eYptYiuBC0dzy...

In [15]:
df_reduit.head(50)
len(df_reduit)

8392

In [37]:
[line[1] for line in df_reduit.head().iterrows()]

[original_title                       National Theatre Live: Hansard
 overview          It's a summer's morning in 1988 and Tory polit...
 vote_average                                                   10.0
 full_poster       https://image.tmdb.org/t/p/w300/korKk9arD2GPP2...
 Name: 4568, dtype: object,
 original_title                                   Leera The Soulmate
 overview          Leera the Soulmate takes place in the distant ...
 vote_average                                                   10.0
 full_poster       https://image.tmdb.org/t/p/w300/fZUot0svHgXjst...
 Name: 8390, dtype: object,
 original_title                                     The Bhen-Jah-Man
 overview          After the masked serial killer known as "The B...
 vote_average                                                   10.0
 full_poster       https://image.tmdb.org/t/p/w300/cga83IKHPZmx2Y...
 Name: 8379, dtype: object,
 original_title                                                April
 overview          Set to a vibrant landscape, 'April' follows th...
 vote_average                                                   10.0
 full_poster       https://image.tmdb.org/t/p/w300/bZ5Td5X5nisD21...
 Name: 8388, dtype: object,
 original_title                       The Name of the Prime Minister
 overview          A psychiatrist is taken to a secret government...
 vote_average                                                   10.0
 full_poster       https://image.tmdb.org/t/p/w300/5eYptYiuBC0dzy...
 Name: 8372, dtype: object]

In [41]:
import os

# Afficher toutes les variables d'environnement
for key, value in os.environ.items():
    if key.startswith("F"):
        print(f"{key}: {value}")

FORCE_COLOR: 1